params {
    // path to bedtools executable
    bedtools_dir = "/usr/bin/bedtools"
    // bed file of candidate CREs
    cre = "cre.bed"
    // bed file of SNPs in credible sets
    snp = "snp.bed"
    // PIP cutoff for SNPs included in gene score calculation
    pip_cutoff = 0.1
    // gene score cutoff for high-confidence risk genes
    score_cutoff = 0.95
    // files that contain genes linked to CREs through chromatin interactions
    contact = "chromatin_contact_linked_genes_files.RDS"
    // files that contain genes linked to CREs through QTLs
    qtl = "qtl_linked_genes_files.RDS"
    // fine-mapped SNPs in exonic region
    exonic = "exonic_snp.RDS"
    // nearest gene to each CRE
    nearest = "nearest_gene.RDS"
    // heatmap parameters: high, breaks, limits
    plot_params = "plot_params.RDS"
    // gene information
    gene_info = "gene_info.RDS"
    // prefix of output file name
    outname = "aoa"
    // output directory
    outdir = ""
}

process {
    // platform in which the pipeline will be running on
    executor = 'slurm'
    // cluster options (if running on a cluster)
    clusterOptions = ''
}
