params {
    // GWAS summary statistics
    gwas = "gwas.RDS"
    // TORUS prior
    prior = "prior.RDS"
    // loci to finemap
    locus = "finemap_locus.RDS"
    // LD matrices
    ldr = "LD_matrix.RDS"
    // information of SNPs in LD matrices
    rvar = "LD_snp_info.RDS"
    // GWAS sample size
    n = 100000
    // SuSiE L
    L = 5
    // SuSiE purity threshold
    purity = 0.4
    // output file name prefix
    outname = "aoa"
    // output directory
    outdir = ""
    // gene information
    geneinfo = "gene_info.RDS"
    // annotations for PIP attribution (e.g.: open chromatin region in different cell types)
    annot = "annot_list.RDS"
    // weight for each annotation (sum to 1)
    weight = "weight.RDS"
    // plot font size
    pt = 24
    // ggsci palette
    palette = "nejm"
}

process {
    // platform in which the pipeline will be running on
    executor = 'slurm'
    // cluster options (if running on a cluster)
    clusterOptions = ''
}

process {
    withName: finemapping {
        memory = '16 GB'
        cpus = 1
        time = '1h'
    }
    withName: get_cs_info {
        memory = '8 GB'
        cpus = 1
        time = '1h'
    }
    withName: pip_attribution {
        memory = '8 GB'
        cpus = 1
        time = '1h'
    }
}
